/* 
    header.css
    Componente de encabezado de aplicacion
*/

.header{
    padding: 0.5em 0;
    color : #fff;
}
    .header a{ color : #fff; }
    .header .container{
        max-width : 61rem;
        overflow: hidden;
        position : relative;
    }
    .header .title,
    .header .header-menu{
        display: inline-block;
        margin : 0;
        vertical-align : middle;
    }
    
    .header .header-menu{
        cursor : pointer;
        display : inline-block;
    }
        .header-menu ul{ list-style: none;}
        .header-menu li{
            display : inline-block;
            margin : 0 1px;
            padding : .2em .2em;
        }

        .header-menu li a,
        .header-menu li img{
            display : inline-block;
            vertical-align : middle;
        }

        .header-menu li a{ padding : .6em .8em; }
        .header-menu li img{
            width : 30px;
            height : 30px;
        }

    
    .header.red{
        background-color : #AC4142;
        border-bottom : 2px solid #9B3E3E;
    }
        .header.red .header-menu li{
            background-color : #9B3E3E;
        }