/*
    toolbar.css
    Componente de barra de herramientas
*/

.toolbar{
    background-color : #fafafa;
    color : #666;
    margin-bottom : .5em;
    overflow : hidden;
    padding : .5em 1em;
}
    .toolbar ul{ list-style : none; text-align : left; }
    .toolbar > *{
        display : inline-block;
    }