/*
    layout.css
    Plantilla principal de la aplicacion
    Author : Jonathan Samines [jnsamines]
*/

html, body{
    background-color: #f5f5f5;
    color : #202020;
    font-size : 16px;
}

.container{
    position : relative;
    display : block;
    overflow: hidden;
}

/* application styles */
    .application{
        background-color : #fff;
        max-width : 61rem;
        min-height : 700px;
    }

    .loginbox{
        background-color : #fff;
        border-top : 4px solid #666;

        margin-top : 10rem;
        max-width : 25rem;
        min-height : 250px;
        padding : 1em;

        -webkit-box-shadow : 4px 5px 14px #ddd;
    }

    .footer{
        margin-top: 30px;
        margin-bottom : 30px;
    }