extends core/base

// block application-content
block application-content
    // application toolbar
    nav.toolbar.center
        input.medium.radius(type='text',name='textElemento', placeholder='Ingrese el nombre del proyecto')
        a#buttonNuevoProyecto.button.medium.radius.skyblue.right(href='#') Nuevo Proyecto +

    // content
    section.container.center
        table.table.center.large
            caption Seguimiento de Proyectos
            thead
                tr
                    th Codigo Tarea
                    th Tarea
                    th Tiempo
                    th Realizado Por
            tbody#proyectos_container.group

    // templates
    // template for proyect list display
    script#proyectos_template(type='text/x-handlebars-template').
        {{#each this}}
            <tr class='group-header'>
                <th colspan='3'> {{nombreProyecto}}</th>
                <th><span class='label lightgray radius right'>{{totalHorasProyecto this.tareas}} horas.</span></th>
            </tr>
            {{#each this.tareas}}
                <tr class='group-content'>
                    <td><a href='#' class='button link'>{{_id}}</a></td>
                    <td>{{descripcion}}</td>
                    <td><span class='label yellow radius'>{{tiempo}}</span></td>
                    <td><a href='#' class='button link'>{{usuario}}</a></td>
                </tr>
            {{/each}}
        {{/each}}